<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.asset.mapper.SortMapper">
    <select id="SVlist" resultType="com.example.asset.vo.SortVo">
        select sort.*, specification.* from asset.sort
        left join asset.specification
        on (sort.id = specification.sort_id or specification.sort_id = 0)
        order by state,id,brand,spec_state ASC
    </select>
</mapper>